table.jobs-table, table.job-table, table.job-apply-table {
	width: 100%;
	text-align: left;
}

table.jobs-table th, table.job-table th {
	font-weight: bold;
}

td.jobs-moreinfo, td.jobs-applynow {
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

td.jobs-moreinfo a, td.jobs-applynow  a{
	width: 100%;
}

table.job-apply-table th, table.job-apply-table td.th {
	width: 40%;
}

table.job-apply-table td {
	width: 60%;
}

#ui-datepicker-div {
	background-color: #fff;
	border: 1px solid #000;
}

div.ui-datepicker-header a {
	cursor: pointer;
}

a.ui-datepicker-next {
	float: right;
}

div.ui-datepicker-title {
	text-align: center;
}

td.ui-datepicker-current-day {
	border: 1px solid #111;
}

table.ui-datepicker-calendar td {
	text-align: center;
	width: 25px;
	height: 25px;
}

